#container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-rows: 60% 40%;
}

.main-box,
.controls-box {
	height: 100%;
	background: #000000;
	display: grid;
}

#maze {
	position: absolute;
	width: 415px;
	height: 290px;
	top: 30vh;
	left: 50%;
	transform: translate(-50%, -50%);
    background: #000000;

}

.buttons {
	width: 300px;
	height: 200px;
	background: #000000;
	align-self: center;
	justify-self: center;
	display: grid;
	grid-template-rows: 100px 100px;
	grid-template-columns: 100px 100px 100px;
}
.barrier {
	position: absolute;
	background: #DAA520;
}

#top-barrier {
	top: 25px;
	left: 25px;
	width: 375px;
	height: 4px;
}

#bottom-barrier {
	top: 275px;
	left: 25px;
	width: 375px;
	height: 4px;
}